@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/angular.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.css")" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
        <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("dist/css/bootstrap.min.css")">



            <!-- Bootstrap -->
        <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar-wrapper">
            <div class="container">

                <nav class="navbar navbar-inverse navbar-static-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="@routes.Application.index()">Automated Software Evaluation</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="@routes.Application.index()">Home</a></li>
                                <li><a href="@routes.Application.about()">About</a></li>
                                <li><a href="@routes.Application.history()">History</a></li>
                                <li><a href="@routes.Application.ranking()">Ranking</a></li>
                               <!-- <li><a href="#contact">Contact</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">Nav header</li>
                                        <li><a href="#">Separated link</a></li>
                                        <li><a href="#">One more separated link</a></li>
                                    </ul>
                                </li> -->
                            </ul>
                            <div id="navbar" class="navbar-collapse collapse">
                                <form id="loginForm" action="@routes.Application.authenticate()" method="POST" class="navbar-form navbar-right" role="form">
                                    <div class="form-group">
                                        <input id="email" class="form-control" type="email" name="email" placeholder="Email"  >
                                    </div>
                                    <div class="form-group">
                                        <input id="password" class="form-control" type="password" name="password" placeholder="Password"  >
                                    </div>
                                    <input id="loginButton" class="btn btn-primary" type="submit" value="Login" />
                                </form>

                            </div>
                        </div>

                    </div>
                </nav>

            </div>
        </div>





        @content


        <div class="container">
            <footer>
                <p>Michalina Gepart 2015 - <a href="#" title="Impressum">Impressum</a></p>
            </footer>
        </div>




            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
