@(message: String)

@main("Welcome to Play") {
  <div class="container marketing content">
    <h3>Ranking of the results:</h3>
    <table class="rankingTable">
        <tr id="firstRow" class="rankingTable">
            <th id="position" class="rankingData">Position</th>
            <th class="rankingData">First Name</th>
            <th class="rankingData">Last Name</th>
            <th class="rankingData">Score</th>
        </tr>
        <tr>
            <td class="rankingData">1</td>
            <td class="rankingData">Jan</td>
            <td class="rankingData">Kowalski</td>
            <td class="rankingData">250</td>
        </tr>
        <tr>
            <td class="rankingData">2</td>
            <td class="rankingData">Marcin</td>
            <td class="rankingData">Kowalski</td>
            <td class="rankingData">240</td>
        </tr>
        <tr>
            <td class="rankingData">3</td>
            <td class="rankingData">Adam</td>
            <td class="rankingData">Kowalski</td>
            <td class="rankingData">210</td>
        </tr>
    </table>


  </div>

}